<header class="header">

  <!-- LEFT -->
  <div class="header-left">

    <h2 class="page-title">
      {{ pageTitle }}
    </h2>

  </div>

  <!-- RIGHT -->
  <div class="header-right">

    <!-- DATE -->
    <div class="header-box">

      <span class="material-icons">
        calendar_today
      </span>

      <span>
        {{ currentDate }}
      </span>

    </div>

    <!-- ICONS -->
    <span class="material-icons header-icon">
      notifications
    </span>

    <span class="material-icons header-icon">
      account_circle
    </span>

  </div>

</header>