<aside class="sidebar"
[class.collapsed]="isCollapsed"
[class.menu-active]="isMobileMenuOpen">

  <header class="sidebar-header">

    <a href="#" class="header-logo logo-text">
      MEAN APP
    </a>

    <button class="toggler sidebar-toggler"
    (click)="toggleSidebar()">
      <span class="material-icons">chevron_left</span>
    </button>

    <button class="toggler menu-toggler"
    (click)="toggleMobileMenu()">
      <span class="material-icons">menu</span>
    </button>

  </header>

  <nav class="sidebar-nav">

    <ul class="nav-list primary-nav">

      <li class="nav-item">
        <a routerLink="/dashboard"
          routerLinkActive="active"
          class="nav-link">
          <span class="nav-icon material-icons">dashboard</span>
          <span class="nav-label">Dashboard</span>
        </a>
        <span class="nav-tooltip">Dashboard</span>
      </li>

      <li class="nav-item">
        <a routerLink="/calendar"
          routerLinkActive="active"
          class="nav-link">
          <span class="nav-icon material-icons">calendar_today</span>
          <span class="nav-label">Calendar</span>
        </a>
        <span class="nav-tooltip">Calendar</span>
      </li>

      <li class="nav-item">
        <a routerLink="/notifications"
          routerLinkActive="active"
          class="nav-link">
          <span class="nav-icon material-icons">notifications</span>
          <span class="nav-label">Notifications</span>
        </a>
        <span class="nav-tooltip">Notifications</span>
      </li>

      <li class="nav-item">
       <a routerLink="/team"
          routerLinkActive="active"
          class="nav-link">
          <span class="nav-icon material-icons">group</span>
          <span class="nav-label">Team</span>
        </a>
        <span class="nav-tooltip">Team</span>
      </li>

      <li class="nav-item">
        <a routerLink="/analytics"
          routerLinkActive="active"
          class="nav-link">
          <span class="nav-icon material-icons">insert_chart</span>
          <span class="nav-label">Analytics</span>
        </a>
        <span class="nav-tooltip">Analytics</span>
      </li>

      <li class="nav-item">
        <a routerLink="/bookmarks"
          routerLinkActive="active"
          class="nav-link">
          <span class="nav-icon material-icons">star</span>
          <span class="nav-label">Bookmarks</span>
        </a>
        <span class="nav-tooltip">Bookmarks</span>
      </li>

      <li class="nav-item">
        <a routerLink="/settings"
          routerLinkActive="active"
          class="nav-link">
          <span class="nav-icon material-icons">settings</span>
          <span class="nav-label">Settings</span>
        </a>
        <span class="nav-tooltip">Settings</span>
      </li>

    </ul>

    <ul class="nav-list secondary-nav">

      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="nav-icon material-icons">account_circle</span>
          <span class="nav-label">Profile</span>
        </a>
        <span class="nav-tooltip">Profile</span>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="nav-icon material-icons">logout</span>
          <span class="nav-label">Logout</span>
        </a>
        <span class="nav-tooltip">Logout</span>
      </li>

    </ul>

  </nav>
</aside>